var sum=0
 for(int i =0;i<1000;i++){//we iterate through the loop inputing the condition of i<1000
if(i%3===0 || i%5===0)// % is used for finding out the multiples of 3 and 5
{
sum +=i;// here we add every multiple of 3 and 5 and assign it to the sum variable
}
}
console.log(sum);//it reads the final sum
